.portfolio {
  @include clearfix;

    .portfolio__card {
        float: left;
        margin-top: 20px;
        margin-bottom:20px;
        width: 48%;
        position: relative;


        &:nth-child(even) {
            float: right;
        }

        &--img {
            width: 100%;

            height: 200px;

        }

        &--stripe{
          position: absolute;
          width:100%;
          bottom:10px;
          text-align:center;
          background-color:$teal;
          color:white;
          padding: 20px 0;
        }
    }

}
